<div class="container-fluid">
  <h1>form</h1>
  <div class="text-danger" *ngIf="errorMessage!==''">{{errorMessage}}</div>
  <form action="" #userForm="ngForm" (ngSubmit)="onSubmit()" >
    {{ userForm.value | json}}
    <div class="form-group">
      <label for="">name</label>
      <input type="text"
             required
             #name="ngModel"
             [class.is-invalid]="name.invalid && name.touched"
             class="form-control"
             name="name"
             [(ngModel)]="userModel.name"
             pattern="^[a-z].*$"
      >
      <small [class.d-none]="name.valid || name.untouched">Name is required</small>
    </div>
    <div class="form-group">
      <select class="custom-select" name="topic" [(ngModel)]="userModel.topic">
        <option selected>I am interested in</option>
        <option *ngFor="let topic of topics" value="{{topic}}">{{topic}}</option>
      </select>
    </div>
    <div class="form-check">
      <input class="form-check-input" [(ngModel)]="userModel.timePreference" type="radio" name="timePreference" value="6h">
      <label for="" class="form-check-label">Morning</label>
      <input class="form-check-input" [(ngModel)]="userModel.timePreference" type="radio" name="timePreference" value="18h">
      <label for="" class="form-check-label">Evening</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="subcribe" [(ngModel)]="userModel.subcribe" type="checkbox">
      <label for="" class="form-check-label">Send me promotion offers</label>
    </div>
    <button class="btn-primary" type="submit" [disabled]="userForm.form.invalid">Submit</button>
</form>
</div>
